.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modalContent {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.modalHeader {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.97);
  text-align: center;
  width: 100%;
}

.modalBody {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.97);
  text-align: center;
  width: 100%;
}

.modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
